<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Molemmat <link> tarvitaan!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/leaflet-search.css" />
    <link rel="stylesheet" href="public/css/leaflet-search.css" />
    <link rel="stylesheet" href="public/css/styles.css" />
</head>
<body>

    <p>Homepage! Welcome, {{ username }}</p>

    <div class="logout">
        <input type="button" value="Logout" onclick="logout()"/>
        <form action="logout" method="POST">
        <input type="submit" value="Logout (toimiva)"/>
        </form>
    </div>


    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Settings</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Settings</h2>
            </div>
            <div class="modal-body">
                <div class="password-change">
                    <p>Change password</p>
                    <form action="changePassword" method="POST">
                        <input type="password" name="passwordCurrent" placeholder="Current password" required>
                        <input type="password" name="password1" placeholder="New password" required>
                        <input type="password" name="password2" placeholder="New password again" required>
                        <input type="submit" value="Change">
                        <p id="warning">{{ warning }}</p>
                    </form>
                </div>
            </div>
        </div>

    </div>



    
        <!-- Kartan varattu paikka-->
    <div id="map"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Settings</h2>
            </div>
            <div class="modal-body">
                <div class="password-change">
                    <p>Change password</p>
                    <form action="changePassword" method="POST">
                        <input type="password" name="passwordCurrent" placeholder="Current password" required>
                        <input type="password" name="password1" placeholder="New password" required>
                        <input type="password" name="password2" placeholder="New password again" required>
                        <input type="submit" value="Change">
                        <p id="warning">{{ warning }}</p>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- kirjastot haetaan ennen omaa js-tiedostoa-->
    <!-- Sciptit on oltava tässä järjestyksessä-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js"></script>
    <script src="/public/js/leaflet-search.js"></script>
    <script src="/public/js/map.js"></script>
    <script src="/public/js/homepage.js"></script>
</body>
</html>