<!DOCTYPE html>
<html lang="fi">
<head>
    <!-- Kartan koko, voi olla erillisessä tiedostossa myös-->
    <style>
        #map {
            width: 100%;
            height: 800px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Molemmat <link> tarvitaan!-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/leaflet-search.css" />
</head>
<body>


<div id="bottom-container">
    <!-- Kartan varattu paikka-->
    <div id="map"></div>
    <div id="results">
        <div id="overall-results">
            <table class="overall-table">
                <h2>Väylät</h2>
                <tr>
                  <th>Väylä 1</th>
                  <th>Pituus</th>
                  <th>Par</th>
                </tr>
                <tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>50</td>
                </tr>
            </table>
        </div>
        <div id="own-results">
            <table class="own-table">
                <h2>Pelatut pelit</h2>
                <tr>
                  <th>Pvm</th>
                  <th>tulod</th>
                  <th>Points</th>
                </tr>
                <tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>50</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>



<!-- kirjastot haetaan ennen omaa js-tiedostoa-->
<!-- Sciptit on oltava tässä järjestyksessä-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js"></script>
<script src="/public/js/leaflet-search.js"></script>
<script src="/public/js/map.js"></script>
</body>
</html>