<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login or register</title>
		<link type="text/css" rel="stylesheet" href="../public/css/styles.css">
		    <!-- Molemmat <link> tarvitaan!-->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css" rel="stylesheet">
			<link rel="stylesheet" href="public/css/leaflet-search.css" />
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	</head>
	<body>

		<nav>
			<ul>
				<li>
					<div class="login-form">
						<h3>Log in</h3>
						<form action="login" method="POST">
							<input class="requiredInput" type="text" name="username" placeholder="Username" required>
							<input class="requiredInput" type="password" name="password" placeholder="Password" required>
							<input type="submit" value="Log in">
						</form>
					</div>
				</li>
				<li>
					<div class="register-form">
						<h3>Sign up</h3>
						<form action="register" method="POST">
							<input class="requiredInput" type="text" name="username" placeholder="Username" pattern=".{2,}" required>
							<input class="requiredInput" type="password" name="password" placeholder="Password" pattern=".{2,}" required>
							<input type="submit" value="Register">
						</form>
					</div>
				</li>
				<li class="warning">{{ usernameError }}</li>
				<li class="warning"> {{ passwordError }}</li>
				<li class="warning">{{ warning }}</li>
			</ul>
		</nav>

		<main>
			<div id="bottom-container">
				<!-- Kartan varattu paikka-->
				<div id="map"></div>
			</div>
		</main>
	</body>
	<!-- kirjastot haetaan ennen omaa js-tiedostoa-->
	<!-- Sciptit on oltava tässä järjestyksessä-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js"></script>
	<script src="/public/js/leaflet-search.js"></script>
	<script src="/public/js/map.js"></script>
	<script src="/public/js/login.js"></script>
	<script src="/public/js/results-handling.js"></script>
</html>