.map-wrapper {
    position: relative;
}

#map {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}

input[type=number]{
    font-size: 16px;
    color: #3685b5;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px 5px 5px 3px;
    background: #F7D6E0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=button]{
    display: inline-block;
    margin: 5px 5px 5px 3px;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #F7D6E0;
    background-color: #3685b5;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}

input[type=button]:hover {background-color: #a7c4b5
}

input[type=button]:active {
    background-color: #3685b5;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.iconText{
    font-size: 16px;
    color: #3685b5;
    text-align: center;
}

select {
    font-size: 16px;
    color: #3685b5;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px 5px 5px 3px;
    background: #F7D6E0;
}

#warning {
    color: red;
}

#bottom-container {
    width: 100%;
    height:100%;
}

#results {
    margin: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th{
    border: 1px solid #3685b5;
    text-align: center;
    color: #333333;
    background: #C59FC9;
    padding: 8px;
    width: 200px;
    font-size: 16px;
}

.tables {
    display: inline-block;
    overflow-y: scroll;
    max-height:200px;
}

#list, #table {
    display: block;
    overflow-y: scroll;
    max-height:400px;
}

button {
  margin:5px;
}

#myBtn {
  background: transparent;
  border: none;
}

#settingsImg {
  src: "../images/settings.png";
  width: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
    height: 70px;
  /*
  position: fixed;
  top: 0;
  width: 100%;
  */
  
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h3 {
  margin:5px;
}

#log-out {
  margin:5px;
}





body, html {
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
  width:100%;
  margin:0;
}

/* The Modal (background) */
.modal, .modal-results{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: top 0.4s, opacity 0.4s;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 58%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close, .closeAddedResults, .closeResult{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.closeAddedResults:hover,
.closeAddedResults:focus,
.closeResult:hover,
.closeResult:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4a524a;
  color: white;
}

.modal-body {padding: 2px 16px;}
